<main>
    <div class="form">
        <div class="list-article">
            <h1>All Articles</h1>
            <div class="column">
                <th:block th:each="article : ${articles}">
                    <article>
                        <header>
                            <h2 th:text="${article.title}"></h2>
                        </header>

                        <div class="article-content">
                            <p th:text="${article.getSummary()}"></p>

                            <small th:text="${article.author.fullName}"></small>
                            <p>
                                <a class="list-tag" th:each="tag:${article.tags}" th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                            </p>
                            <a class="list-edit" th:href="@{/article/edit/{id}(id = ${article.id})}">Edit</a>
                            <a class="list-delete" th:href="@{/article/delete/{id}(id = ${article.id})}">Delete</a>
                        </div>
                    </article>
                </th:block>
            </div>
        </div>
    </div>
</main>

<!--<main>-->
<!--    <div class="form"><br>-->
<!--        <div class="listing">-->
<!--            <h2>All Articles - -->
<!--                <a class="list-create" th:href="@{/article/create}">Create New</a>-->
<!--            </h2>-->
<!--            <table class="table">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th class="table-id">#</th>-->
<!--                    <th>Title</th>-->
<!--                    <th>Category</th>-->
<!--                    <th>Tags</th>-->
<!--                    <th>Actions</th>-->
<!--                </tr>-->
<!--                </thead>-->

<!--                <tbody>-->
<!--                    <th:block th:each="article : ${articles}">-->
<!--                        <td th:text="${article.id}"></td>-->
<!--                        <td th:text="${article.title}"></td>-->
<!--                        <td th:text="${article.category.name}"></td>-->
<!--                        <td th:each="tag:${article.tags}" th:text="${tag.name}"></td>-->
<!--                        <td>-->
<!--                            <a class="list-edit" th:href="@{/articles/edit/{id}(id=${article.id})}">Edit</a>-->
<!--                            <a class="list-delete" th:href="@{/articles/delete/{id}(id=${article.id})}">Delete</a>-->
<!--                        </td>-->
<!--                    </th:block>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->