<main>
    <div class="form">
        <form th:action="@{/admin/users/edit/{id}(id=${user.id})}" method="post"><br>
            <fieldset>
                <legend>Edit User -
                    <strong th:text="${user.fullName}"></strong>
                </legend>
                <div class="log-form">
                    <label class="label img" for="img">Profile Photo: </label>
                    <div th:switch="${user.photo != null}">
                        <img th:case="false" class="prof-img" id="img" src="/user-photos/default/3.jpg" height="25%" width="25%"/>
                        <img th:case="true" class="prof-img" id="img1" th:src="${user.photosImagePath}" height="25%" width="25%"/>
                    </div>
                    <input class="profile" id="photo" th:type="file" name="image" accept="image/jpeg, image/png, image/jpg"><br>

                    <label for="user_email">Email</label>
                    <input type="email" id="user_email" placeholder="Email" name="email"
                           required="required" th:value="${user.email}"/>

                    <label for="user_fullname">Full Name</label>
                    <input type="text" id="user_fullname" placeholder="Full Name"
                           name="fullName" required="required" th:value="${user.fullName}"/>

                    <label for="user_password_first">Password</label>
                    <input type="password" id="user_password_first" placeholder="Password"
                           name="password"/>

                    <label for="user_password_second">Confirm Password</label>
                    <input type="password" id="user_password_second" placeholder="Password"
                           name="confirmPassword"/>

                    <div class="profile">
                        <input th:type="radio" name="gender" id="male" th:text="Male" value="M">
                        <input th:type="radio" name="gender" id="female" th:text="Female" value="F">
                        <input th:type="radio" name="gender" id="unknown" th:text="Unknown" value="U"><br>
                    </div>

                    <label for="roles">Roles: </label><br>
                    <th:block th:each="role : ${roles}">
                        <input id="roles" type="checkbox" name="roles" th:value="${role.id}" th:text="${role.getSimpleName()}" th:checked="${user.roles.contains(role)}"/><br>
                    </th:block>

                    <a class="cancel" th:href="@{/admin/users/}">Cancel</a>
                    <input value="Edit" type="submit" class="sub-cre"/>
                </div>
            </fieldset><br>
        </form>
    </div>
</main>