<main>
    <div class="form"><br>
        <div class="listing">
            <h2>All Users -
                <a class="list-create" th:href="@{/register}">Create New</a>
            </h2>
            <table class="table">
                <thead>
                <tr>
                    <th class="table-id">#</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                    <th:block th:each="user : ${users}">
                        <tr th:class="${user.isAdmin() ? 'info' : null}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.fullName}"></td>
                            <td th:text="${user.email}"></td>
                            <td>
                                <span id="gender" th:switch="${user.gender}">
                                    <a th:case="M">Male</a>
                                    <a th:case="F">Female</a>
                                    <a th:case="U">Unknown</a>
                                </span>
                            </td>
                            <td>
                                <a class="list-edit" th:href="@{/admin/users/edit/{id}(id=${user.id})}">Edit</a>
                                <a class="list-delete" th:href="@{/admin/users/delete/{id}(id=${user.id})}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>
</main>