<main>
    <div class="form"><br>
        <form th:action="@{/article/edit/{id}(id=${article.id})}" method="POST">
            <fieldset>
                <legend>Edit Article</legend>
                <div class="log-form">
                    <label for="article_title">Title</label>
                    <input type="text" id="article_title" placeholder="Post Title" name="title" th:value="${article.title}"/>

                    <label for="article_content">Content</label>
                    <textarea rows="6" id="article_content" name="content" th:field="${article.content}"></textarea>

                    <label for="author">Author</label>
                    <select id="author" name="author">
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.fullName}"  th:selected="${user.id == article.author.id}"></option>
                    </select>

                    <label for="article_category">Category</label>
                    <select id="article_category" name="categoryId">
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"  th:selected="${category.id == article.category.id}"></option>
                    </select>

                    <label for="article_tags">Tags</label>
                    <input type="text" class="form-control" id="article_tags" placeholder="Tags" name="tagString" th:value="${tags}"/>

                    <a class="cancel" th:href="@{/article/{id}(id = ${article.id})}">Cancel</a>
                    <input class="sub-cre" type="submit" value="Edit"/>
                </div>
            </fieldset>
        </form>
    </div>
</main>