<main>
    <div class="form"><br>
        <fieldset>
            <legend>User Info</legend>
            <div class="log-form">
                <div class="profile">
                    <label class="label img" for="img">Profile Photo:</label>
                    <img class="prof-img" id="img" th:src="${user.photosImagePath}" height="25%" width="25%"/>
                </div>

                <div class="profile">
                    <label class="label" for="email">Email: </label>
                    <span id="email" th:text="${user.email}"></span>
                </div>

                <div class="profile">
                    <label class="label" for="fullname">Name: </label>
                    <span id="fullname" th:text="${user.fullName}"></span>
                </div>

                <div class="profile">
                    <label class="label" for="gender">Gender: </label>
                    <span id="gender" th:switch="${user.gender}">
                        <a th:case="M">Male</a>
                        <a th:case="F">Female</a>
                        <a th:case="U">Unknown</a>
                    </span>
                </div>

                <a class="list-edit prof" th:href="@{/edit/{id}(id=${user.id})}">Edit</a>
            </div>
        </fieldset>
    </div>
</main>