<!DOCTYPE HTML>
<html th:fragment="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity" lang="eng">

<header>
    <div class="navbar">
        <a th:href="@{/}" class="navbar-brand">JOVASOFT BLOG</a>
        <ul class="navbar-right">
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Logout</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/profile}">My Profile</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/article/create}">Create Article</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/login}">Login</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/register}">Register</a>
            </li>

            <li class="dropdown" sec:authorize="hasRole('ADMIN')">
                <a href="#" class="dropbtn">Admin<i class="arrow"></i></a>
                <ul class="dropdown-content">
                    <a th:href="@{/admin/article/}">Articles</a>
                    <a th:href="@{/admin/categories/}">Categories</a>
                    <a th:href="@{/admin/users/}">Users</a>
                </ul>
            </li>
        </ul>
    </div>
</header>
</html>