<main>
    <div class="form">
        <form th:action="@{/admin/categories/create}" method="POST"><br>
            <fieldset>
                <legend>New Category</legend>
                <div class="log-form">
                    <label for="category_name">Category Name</label>
                    <input type="text" id="category_name" placeholder="Category Name" name="name"/>

                    <a class="cancel" th:href="@{/admin/categories/}">Cancel</a>
                    <input type="submit" class="sub-cre" th:value="Create"/>
                </div>
            </fieldset>
        </form>
    </div>
</main>